<% if user_signed_in? %>
  <%= link_to "View My Galleries", user_galleries_path(current_user) %>
  <% @users.each do |user| %>
    <% user.galleries.each do |gallery| %>
      <% if gallery.image.attached? %>
      <p><%= gallery.name %></p>
      <%= image_tag gallery.image, style: 'height:400px' %>  <br>
      <% end %>
  <% end %>
<% end %>
<% end %>
