<% if current_user == @user %>
  <h2>My Galleries</h2>
<% elsif @user.username == "" %>
  <h2>Anon's Galleries</h2>
<%else%>
  <h2><%= @user.username %>'s Galleries</h2>
<% end %>

<% if @user.galleries.any? %>
  <ul>
    <% @user.galleries.each do |gallery| %>
      <li> <%= link_to gallery.name, user_gallery_path(current_user, gallery) %> </li>
    <% end %>
  </ul>
<% else %>
  <p>No galleries yet</p>
<% end %>
<%= link_to "Add a gallery", new_user_gallery_path  %>