<% if current_user.galleries.any? %>
  <ul>
    <% current_user.galleries.each do |gallery| %>
      <li> <%= link_to gallery.name, user_gallery_path(current_user, gallery) %> </li>
    <% end %>
  </ul>
<% else %>
  <p>No galleries yet</p>
<% end %>
<%= link_to "Add a gallery", new_user_gallery_path  %>